html{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  }

  @import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(0, 214, 170, .85);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#overlay .form{
  max-width: 35%;
  margin: 177px auto;
}

ul.lijst{
  list-style: none;
}
ul.lijst li span{
  display: inline-block;
  width: 0px;
}

img{
  max-width: 100%;
}

.col6 img{
  max-width: 100%
}
.customrow {
  min-height: 100vh;
}

.captcha{
  width: 100%;
}
.captcha .g-recaptcha{
  margin: 25px auto;
  width: 50%;
}

.exit button{
  margin: 0 auto;
  width: 25%;
  display: block;
}

/* Style the buttons inside the tab */
.tab2 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab2 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab2 button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab2 button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

header {
  background-color: rgba(10, 62, 102, 0.85);
  text-align: center;
  position: relative;
  z-index: 999;
  width: 100%;
  min-height: 130px;
  box-shadow: 3px 3px 31px 6px #ccc;
}

header h1{
  color: white;
  text-align: left;
  margin-left: 5%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    float: right;
    margin-right: 10%;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}

@media (min-width: 992px)
.menu-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
/*.mainHeader {
    background-color: #000;
    opacity: 0.5;
    color: #fff;
    width: 100vw;
    text-align: center;
    padding: 1.2em;
}*/

.textbox-main{
  text-align: center;
}

.mainFooter{
  position: fixed;
  bottom: 0;
  width: 100vw;
}

ul.user_data{
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.user_data li span{
  display: inline-block;
  width: 300px;
}

table.account_info tr:nth-child(1n+4){
  border-bottom: 1px solid;
}

table.customTable th{
  text-transform:none;
  font-size:15px;
  text-align:center
}
@media only screen and (min-width: 1025px){
  table.customTable td{
    font-size:13px;
    text-align:center
    }
  td:nth-child(n+4):nth-child(-n+5){
    width:120px
    }
  }
@media only screen and (max-width: 620px){table.customTable
td{font-size:13px;text-align:none}}@media only screen and (max-width: 767px),(min-device-width: 768px) and (max-device-width: 1024px)
{table,thead,tbody,th,td,tr{display:block}thead
tr{
  position:absolute;top:-9999px;left:-9999px
}tr{
  border:1px solid #ccc
}td{border:none;border-bottom:1px solid #eee;position:relative;padding-left:50%}td:before{position:absolute;top:6px;left:6px;width:45%;padding-right:10px;white-space:nowrap}td:nth-of-type(1):before{content:"Soort gietvloer"}td:nth-of-type(2):before{content:"Dikte"}td:nth-of-type(3):before{content:"Gietvloer vanafprijs"}td:nth-of-type(4):before{content:"Geschikt voor woonhuizen"}td:nth-of-type(5):before{content:"Geschikt voor bedrijven"}}


.row::after {
        content: "";
        clear: both;
        display: table;
    }
    [class*="col"] {
        float: left;
        padding: 15px;
    }
    .col1 {width: 8.33%;}
    .col2 {width: 16.66%;}
    .col3 {width: 25%;}
    .col4 {width: 33.33%;}
    .col5 {width: 41,66%;}
    .col6 {width: 50%;}
    .col7 {width: 58.33%;}
    .col8 {width: 66.66%;}
    .col9 {width: 75%;}
    .col10 {width: 83.33%;}
    .col11 {width: 91.66%;}
    .col12 {width: 100%;}
    * {
      box-sizing: border-box;
    }
